params {
    arriba                     = true
    starfusion                 = true
    fusioncatcher              = true
    no_cosmic                  = true
    outdir                     = "$outputDir"
    fusionreport_download_args = '--no-cosmic'
    fusionreport_detect_args   = {params.no_cosmic} ? "--no-cosmic" : ""
    fusionreport_detect_args2  = "--export csv"
}

process {
    withName: 'FUSIONREPORT_DOWNLOAD' {
        ext.args         =  params.fusionreport_download_args
    }

    withName: 'FUSIONREPORT_DETECT' {
        ext.args         = params.fusionreport_detect_args
        ext.args2        = params.fusionreport_detect_args2
    }

    withName: 'FUSIONINSPECTOR' {
        ext.args = '--annotate --examine_coding_effect'
    }
}
