/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/rnafusion'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
// Limit and standardize resources for github actions and reproducibility
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '4.h'
    ]

    withName: 'STARFUSION_BUILD' {
        ext.args = ''
    }
}
