// Limit and standardize resources for github actions and reproducibility
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '4.h'
    ]

    withName: 'STARFUSION_BUILD' {
        ext.args = ''
    }
}

params {
    fusioncatcher_ref           = "${projectDir}/assets"
    arriba_ref_blacklist        = "s3://nf-core-awsmegatests/rnafusion/references/GRCh38/arriba/2.5.0/blacklist_hg38_GRCh38_v2.5.0.tsv.gz"
    arriba_ref_cytobands        = "s3://nf-core-awsmegatests/rnafusion/references/GRCh38/arriba/2.5.0/cytobands_hg38_GRCh38_v2.5.0.tsv"
    arriba_ref_known_fusions    = "s3://nf-core-awsmegatests/rnafusion/references/GRCh38/arriba/2.5.0/known_fusions_hg38_GRCh38_v2.5.0.tsv.gz"
    arriba_ref_protein_domains  = "s3://nf-core-awsmegatests/rnafusion/references/GRCh38/arriba/2.5.0/protein_domains_hg38_GRCh38_v2.5.0.gff3"
}
