/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnafusion -profile test_build,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
Uses a minimal fasta and gtf for testing purposes.
This test is designed to test the `build_references` subworkflow with the following processes on:
- SAMTOOLS_FAIDX
- HGNC_DOWNLOAD
- GATK4_CREATESEQUENCEDICTIONARY
- GET_RRNA_TRANSCRIPTS
- GATK4_BEDTOINTERVALLIST
- GTF_TO_REFFLAT
- GFFREAD
- STAR_GENOMEGENERATE
- ARRIBA_DOWNLOAD
- STARFUSION_BUILD
- FUSIONREPORT_DOWNLOAD

It does not test the following processes of the `build_references` subworkflow:
- GENCODE_DOWNLOAD
- FUSIONCATCHER_BUILD

It does not test the main rnafusion subworkflows by setting references_only = true.
*/

params {
    config_profile_name        = 'Test build references profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    references_only            = true
    input                      = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnafusion/testdata/human/samplesheet_valid.csv'
    no_cosmic                  = true
    all                        = false
    arriba                     = true
    fusioncatcher              = false
    starfusion                 = true
    fasta                      = 'https://github.com/STAR-Fusion/STAR-Fusion-Tutorial/raw/master/minigenome.fa'
    gtf                        = 'https://github.com/STAR-Fusion/STAR-Fusion-Tutorial/raw/master/minigenome.gtf'
    fusionreport               = true

    skip_salmon_index          = true
    starfusion_build           = true
    fusion_annot_lib           = 'https://github.com/STAR-Fusion/STAR-Fusion-Tutorial/raw/master/CTAT_HumanFusionLib.mini.dat.gz'

}

// Limit and standardize resources for github actions and reproducibility
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}
